
.request-container .login-page {
  width: 30%;
  margin: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding: 4%;
}

.request-container .login-page .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.2rem;
  width: 100%;
}

 #h2 {
  color: red;
}

 
#login{
  margin: 30px 0 0 0 ;
  background-color: red;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
}

#username,#password,#phone,#email  {
  height: 30px;
  margin: 10px 0 15px 0;
  border: 1.5px solid rgba(32, 33, 37, 0.3);
  padding: 5px;
  width: 90%;
  border-radius: 6px;
  opacity: .75;
}

@media screen and (max-width: 500px) {
  .request-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
.request-container .left-image {
  width: 80%;
}

.request-container .login-page {
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.request-container .login-page form {
  padding: 2.5%;
  font-size: 1.2rem;
  width: 95%;
}

#username,#password {
  height: 30px;
  margin: 10px 0 15px 0;
  border: 1.5px solid rgba(32, 33, 37, 0.3);
  padding: 5px;
  width: 85%;
  border-radius: 6px;
  opacity: .75;
}

.request-container .login-page form select {
  width: 90%;
}

}